* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 1.6rem;
}

.right {
  text-align: right;
}

.required {
  color: red;
}

#section-parent .section-hidden-child {
  visibility: hidden;
}

#section-parent:hover .section-hidden-child {
  visibility: visible;
}

#element-parent .element-hidden-child {
  visibility: hidden;
}

#element-parent:hover .element-hidden-child {
  visibility: visible;
}